.menu {
	height:10vh;
	background:black;
}
.games-container {
	height:90vh;
	background-image:linear-gradient(45deg,#f38ffa,#539eee);
}
.menu-item {
	display:inline-block;
	font-weight:bold;
	color:white;
	text-decoration:none;
	font-size: 40px;
	margin: 0 30px;
	line-height: 10vh;
}
.menu-item:hover{
	text-shadow: 0 0 10px pink;
	transform:scale(1.1);
	transition:0.5s;
}
.games-item {
	width:400px;
	height:600px;
	list-style: none;
	margin:0 20px;
	margin: auto;

	width: fit-content;
	box-shadow: 0 5px 20px black;

	border-radius: 20px;

}
.item1 {
	background: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/ab/43d910ae7d11e88e82d728f9399c9e/plant_Profile_logo.jpg?auto=format%2Ccompress&dpr=1') center/cover;
	width: 400px;
}
